export(convertRank)
export(criteria)
export(distCayley)
export(distHamming)
export(distKendall)
export(distSpearman)
export(frequence)
export(khi2)
export(kullback)
exportMethods(show)
exportMethods(summary)
export(rankclust)
export(simulISR)
export(unfrequence)
useDynLib(Rankcluster)
